* {
	margin: 0;
	padding: 0;
}

.head {
	border-top: 3px solid black;
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
	z-index: 1;
}

.head1 {
	color: #2c4152;
	font-size: 14px;
	text-transform: capitalize;
	margin-left: 900px;
	margin-top: 10px;
}

.Account {
	color: black;
}

.div1 {
	margin: 5px;
	color: #2c4152;
	font-size: 14px;
	text-transform: capitalize;
}

.div2 {
	background-color: black;
	color: white;
	padding: 12px;
	font-size: x-small;
	font-weight: normal;
}

.head2 {
	display: flex;
}

.Icici img {
	padding: 1px;
	width: 1068px;
	margin-left: 100px;
}

.Ajio img {
	width: 170px;
}


.head3 img {
	margin-top: 16px;
	margin-left: 15px;
}
.main{
   display:flex;
  }


.div12 span{
	display:flex;
        margin:37px 0px 0px 49px;
}

.div12 span {
	font-weight:bold;
}
.Bag2{
   color:#c9bd95;
}
.Wishlist img{
    width:10px;
    color:#0b5c73;
}
.Wishlist p{
    margin-left:669px;
    color:#0b5c73;
     }
.Wishlist :hover{ 
    color:black;
}
.cart{
   box-sizing:border-box;
    width:740px;
    border:1px solid grey;
    margin:6px 22px 0px 47px;
    border-color:#d5dadb;
 }
.cartimg{
   display:flex;
}
.cartimg img{
   width:117px;
}
.Size img{
   width:14px;
}
.Size{
  margin:20px 0px 0px 120px;
}
.spanright1{
   color:grey;
}
.spanright2{
  color:#f0b159;
}
.spanright3{
   margin-left:96px;
  text-decoration:line-through;
  color:#f0b159;
}
.spanright4{
    margin-top:51px;
color:#0b5c73;
}
.cart1{
    box-sizing:border-box;
    width:740px;
    border:1px solid grey;
   margin:6px 22px 0px 47px;
    border-color:#d5dadb;
 }
.cartimg1{
   display:flex;
}
.cartimg1 img{
   width:117px;
}
.Size img{
   width:14px;
}
div {
 padding:3px;  
}
.right{
   margin-left:2px;
   width:300px;
  
  
}
.heading{
   margin-top:5px;
   padding:5px;
   font-size:medium;
}
.rightdiv1{
  width:280px;
  border:1px solid grey;
  margin-bottom:272px;
  background-color:whitesmoke;
  border-color: #bcc4c5;
  }
.order1{
   font-size:15px;
   font-weight:normal;
   margin-left: 5px;
   
}
.order2{
  margin:0px 0px 0px 130px;
  
}
.order11{
   font-size:15px;
   font-weight:normal;
   margin-left: 5px;
  
}
.order12{
   color:#f5e2ae;
   margin:0px 0px 0px 110px;
   

}
.order13{
   font-size:15px;
   font-weight:normal;
   margin-left: 5px;
    
}
.order14{
   color:#0b5c73;
   
}
.order15{
   color:#bcc4c5;
   font-size:15px;
   font-weight:normal;
   margin-left: 5px;
    
}
.order16{
   color:#f5e2ae;
   margin:0px 0px 0px 110px;
   
}
.order17{
   text-decoration: line-through;
}
.order18{
   color:black;
   font-size:15px;
   font-weight:normal;
   margin-left: 5px;
  
}
.order19{
   font-weight:bold;
   color:#1d1c1a;
   margin:0px 0px 0px 110px;
   
}
#proceed-btn{
    border: transparent;
    height: 40px;
    width: 280px;
    color: white;
    background-color: rgb(213,162,73);
    cursor: pointer;
}
.rightBtm1{
   width: 280px;
   border:1px dashed black;
   box-sizing:border-box;
   padding: 10px 0px 10px 5px;
   margin: 10px 7px 0px 5px;
}
.rightBtm1 h4{
   padding: 5px 0px 10px 5px;
   margin: 5px 7px 0px 5px;
}
.coupon1{
   font-size: 12px;
   padding: 5px 0px 10px 5px;
   margin: 5px 7px 0px 5px;
  
}
.coupon4{
   font-size: 14px;
}
.coupon5{
   color: #0b5c73;
}
.number{
   color:#e2971e;
   font-size:12px ;
}
.r1{
   font-weight: 700;
   font-size:12px ;
   margin-left: 5px;
}
input[type=radio]
{
   accent-color: #e9bf7c;
   cursor: pointer;
   border: #f1dbb6;
}
.Refund{
   box-sizing: border-box;
   background-color: whitesmoke;
   width: 280px;
   margin: 10px 0px 0px 10px;
}
.refund1{
   font-size: 14px;
   margin: 0px 0px 10px 5px;
}
.refund2{
   font-size: 14px;
}
.refund3{
   font-size: 14px;
   color:#0b5c73
}
.secure{
   border-top:1px solid #bcc4c5 ;
    margin: 0px 0px 0px 0px;
   border-bottom: 2px solid #bcc4c5;
}
.secure1{
   margin: 0px 0px 0px 100px;
}
.secure1 img{
    width: 20px;;
}
.secure2{
   color:goldenrod;
   font-size: 14px;
}
.div4 img{
   margin:9px 220px 1px 78px;
  background-color: #ffffff;
}
.footer {
 text-transform: uppercase;
 background-color: rgb(44, 65, 82);
 box-sizing: border-box;
 padding: 70px 70px;
 line-height: 1.5;
 font-family: 'Poppins', sans-serif;
 border-top: gray;
 text-align: justify;
 
}

.row {
 display: flex;
 flex-wrap: wrap;
}
.footer-col {
   width: 20%;
   padding: 0 30px;
}

.footer-col h4 {
   font-size: 13px;
   color: rgb(255,255,255);
   margin-bottom: 35px;
   font-weight: bolder;
   position: relative;
   margin-left: 38px;
}

.footer-col h4::before {
   content: '';
   position: absolute;
   left: 0;
   bottom: -10px;
   height: 2px;
   box-sizing: border-box;
   width: 50px;
}

ul {
   list-style-type: none;
}

.footer-col ul li a {
   font-size: 11px;
   text-decoration: none;
   font-weight: 300;
   color: rgb(255,255,255);
   display: block;
   margin-bottom: 15px;
   transition: all 0.3s ease;
}

.footer-col ul li a:hover {
   padding-left: 8px;
}
.social-links {
 display: flex;
 gap: 20px;
}

#first-right {
 height: 100%;
 width: 25%;
 /* font-size: 11px; */
 color: rgb(104, 101, 101);
}

.right {
 display: flex;
 justify-content: space-between;
 margin: auto;
 text-align: left;
}

.right>p {
 font-family: HCoGothamSSmLight, Arial, Sans-Serif;
 font-size: 1rem;
 font-weight: 600;
 border-left: 1px solid gray;
 padding-left: 10px;
 color: gray;
}

#bottom-footer{
 height: 140px;
 width: 100%;
 background-color: rgb(44, 65, 82);
 justify-content: space-between;
 display: flex;
 }
#main{
 /* font-size: 14px; */
 width: 40%;
 margin-left: 110px;
 margin-top: 30px;
 color: rgb(255,255,255);
 }
#btm-left{
 font-size: 14px;
 margin: auto;
 display: flex;
 width: 100%;
 justify-content: space-between;
 gap: 10px;
}
#btm-right{
 margin-top: 32px;
 color: rgb(255,255,255);
 margin-right: 110px;
}
#f-btns{
 display: grid;
 text-align: center;
 margin-top: 18px;
 height: 110px;
 width: 55px;
 margin-right: 45px;
 grid-gap: 5px;

}
#foot-btn{
 background-color: #ffffff;
 height: 45px;
 width: 45px;
 border-radius: 50px;
 cursor: pointer;
}
#foot-btn1{
 background-color: #ffffff;
 font-size: 35px;
 height: 44px;
 width: 44px;
 border-radius: 50px;
 cursor: pointer;
 }