* {
	margin: 0;
	padding: 0;
}

.head {
	border-top: 3px solid black;
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
	z-index: 1;
}

.head1 {
	color: #2c4152;
	font-size: 14px;
	text-transform: capitalize;
	margin-left: 900px;
	margin-top: 10px;
}

.Account {
	color: black;
}

.div1 {
	margin: 5px;
	color: #2c4152;
	font-size: 14px;
	text-transform: capitalize;
}

.div2 {
	background-color: black;
	color: white;
	padding: 12px;
	font-size: x-small;
	font-weight: normal;
}

.head2 {
	display: flex;
}

.Icici img {
	padding: 1px;
	width: 1068px;
	margin-left: 100px;
}

.Ajio img {
	width: 170px;
}


.head3 img {
	margin-top: 16px;
	margin-left: 15px;
}
.main{
   display:flex;
  }


.div12 span{
	display:flex;
        margin:37px 0px 0px 49px;
}

.div12 span {
	font-weight:bold;
}
.Bag2{
   color:#c9bd95;
}
.Wishlist img{
    width:10px;
    color:#0b5c73;
}
.Wishlist p{
    margin-left:669px;
    color:#0b5c73;
     }
.Wishlist :hover{ 
    color:black;
}
.cart{
   box-sizing:border-box;
    width:724px;
    border:1px solid grey;
    margin:6px 22px 0px 47px;
    border-color:#d5dadb;
 }
.cartimg{
   display:flex;
}
.cartimg img{
   width:117px;
}
.Size img{
   width:14px;
}
.Size{
  margin:20px 0px 0px 120px;
}
.spanright1{
   color:grey;
}
.spanright2{
  color:#f0b159;
}
.spanright3{
   margin-left:96px;
  text-decoration:line-through;
  color:#f0b159;
}
.spanright4{
    margin-top:51px;
color:#0b5c73;
}
.cart1{
    box-sizing:border-box;
    width:728px;
    border:1px solid grey;
   margin:6px 22px 0px 47px;
    border-color:#d5dadb;
 }
.cartimg1{
   display:flex;
}
.cartimg1 img{
   width:117px;
}
.Size img{
   width:14px;
}

.rightdiv1{
  width:167px;
  border:1px solid grey;
  margin-bottom:272px;
  background-color:whitesmoke;
  border-color:#e1d6dd6;

}
.order1{
   font-size:small;
   font-weight:normal;
}
.order2{
  margin-left:5px;
}
#proceed-btn{
    border: transparent;
    height: 40px;
    width: 167px;
    color: white;
    background-color: rgb(213,162,73);
    cursor: pointer;
}


