* {
	margin: 0;
	padding: 0;
}

.head {
	border-top: 3px solid black;
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
	z-index: 1;
}

.head1 {
	color: #2c4152;
	font-size: 14px;
	text-transform: capitalize;
	margin-left: 900px;
	margin-top: 10px;
}

.Account {
	color: black;
}

.div1 {
	margin: 5px;
	color: #2c4152;
	font-size: 14px;
	text-transform: capitalize;
}

.div2 {
	background-color: black;
	color: white;
	padding: 12px;
	font-size: x-small;
	font-weight: normal;
}

.head2 {
	display: flex;
}

.Icici img {
	padding: 1px;
	width: 1068px;
	margin-left: 100px;
}

.Ajio img {
	width: 170px;
}


.head3 img {
	margin-top: 16px;
	margin-left: 15px;
}
.main{
   display:flex;
  }


.div12 span{
	display:flex;
        margin:37px 0px 0px 49px;
}

.div12 span {
	font-weight:bold;
}
.Bag2{
   color:#c9bd95;
}
.Wishlist img{
    width:10px;
    color:#0b5c73;
}
.Wishlist p{
    margin-left:669px;
    color:#0b5c73;
     }
.Wishlist :hover{ 
    color:black;
}
.cart{
   box-sizing:border-box;
    width:724px;
    border:1px solid grey;
    margin:6px 22px 0px 47px;
    border-color:#d5dadb;
 }
.cartimg{
   display:flex;
}
.cartimg img{
   width:117px;
}
.Size img{
   width:14px;
}
.Size{
  margin:20px 0px 0px 120px;
}
.spanright1{
   color:grey;
}
.spanright2{
  color:#f0b159;
}
.spanright3{
   margin-left:96px;
  text-decoration:line-through;
  color:#f0b159;
}
.spanright4{
    margin-top:51px;
color:#0b5c73;
}
.cart1{
    box-sizing:border-box;
    width:728px;
    border:1px solid grey;
   margin:6px 22px 0px 47px;
    border-color:#d5dadb;
 }
.cartimg1{
   display:flex;
}
.cartimg1 img{
   width:117px;
}
.Size img{
   width:14px;
}
div {
 padding:3px;  
}
.right{
   margin-left:2px;
}
.heading{
   margin-top:5px;
   padding:5px;
   font-size:medium;
}
.rightdiv1{
  width:280px;
  border:1px solid grey;
  margin-bottom:272px;
  background-color:whitesmoke;
  border-color: #bcc4c5;
  

}
.order1{
   font-size:15px;
   font-weight:normal;
   margin-left: 5px;
   
}
.order2{
  margin:0px 0px 0px 130px;
  
}
.order11{
   font-size:15px;
   font-weight:normal;
   margin-left: 5px;
  
}
.order12{
   color:#f5e2ae;
   margin:0px 0px 0px 110px;
   

}
.order13{
   font-size:15px;
   font-weight:normal;
   margin-left: 5px;
    
}
.order14{
   color:#0b5c73;
   
}
.order15{
   color:#bcc4c5;
   font-size:15px;
   font-weight:normal;
   margin-left: 5px;
    
}
.order16{
   color:#f5e2ae;
   margin:0px 0px 0px 110px;
   
}
.order17{
   text-decoration: line-through;
}
.order18{
   color:black;
   font-size:15px;
   font-weight:normal;
   margin-left: 5px;
  
}
.order19{
   font-weight:bold;
   color:#1d1c1a;
   margin:0px 0px 0px 110px;
   
}
#proceed-btn{
    border: transparent;
    height: 40px;
    width: 280px;
    color: white;
    background-color: rgb(213,162,73);
    cursor: pointer;
}
.rightBtm1{
   border:1px dashed black;
   box-sizing:border-box;
}
