



/* FOOTER Design */
.footer {
text-transform: uppercase;
background-color: rgb(44, 65, 82);
box-sizing: border-box;
padding: 70px 70px;
line-height: 1.5;
font-family: 'Poppins', sans-serif;
border-top: gray;
text-align: justify;
margin-top: 5%;

}

.row {
display: flex;
flex-wrap: wrap;
}

.footer-col {
width: 20%;
padding: 0 30px;
}

.footer-col h4 {
font-size: 13px;
color: rgb(255,255,255);
margin-bottom: 35px;
font-weight: bolder;
position: relative;
margin-left: 38px;
}

.footer-col h4::before {
   content: '';
   position: absolute;
   left: 0;
   bottom: 10px;
   height: 2px;
   box-sizing: border-box;
   width: 50px;
 }

ul {
  list-style-type: none;
}

.footer-col ul li a {
    font-size: 11px;
   text-decoration: none;
   font-weight: 300;
   color: rgb(255,255,255);
    display: block;
    margin-bottom: 15px;
   transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  padding-left: 8px;
}


.details1{
    margin:4px 0px 5px 550px ;
    
}
.details2{
    margin:4px 0px 5px 400px ; 
}
button{
    margin-left:500px ;
}

#continue-btn{
    border: transparent;
    height: 40px;
    width: 190px;
    color: white;
    background-color: rgb(213,162,73);
    cursor: pointer;
    margin-top: 25px;
    
}
button :hover{
    background-color: #D5A249;
}
.pictures span{
     color:#D5A249;
     font-size:12px;
}
.pictures{
    margin:20px 10px 30px 250px ;

}
.Reliance img{
    width: 1200px;
 }
.head3{
   margin-left:115px;
}