*{
margin:0;
padding:0;
}
.head{
  border-top:3px solid black;
  border-bottom:1px solid gray;
  padding-bottom:5px;
 z-index:1;
}
.head1{
  color:#2c4152;
  font-size: 14px;
  text-transform: capitalize;
  margin-left:900px;
  margin-top:9px;
 }
.div1{
   margin:5px;
  color:#2c4152;
  font-size: 14px;
  text-transform: capitalize;
}
.div2{
    background-color:black;
    color:white;
   padding:12px;
    font-size:x-small;
    font-weight:normal;
}
.Ajio  img{
   width:170px;
}
.Ajio1{
   display:flex;
  margin-left:313px;
  margin-top:27px;
font-weight:lighter;
color:grey;
}
 .Ajio1 p{
   padding-right:7px;
}
.Ajio1 :hover{
  color:black;
  font-weight:bold;
 font-size:15px;
  
}
.Ajio2 input{
    width:204px;
    margin-top:8px;
    margin-left:15px;
    border:transparent;
   background-color:#f5f3c6;
}
.Ajio2{
   border:1px solid black;
   background-color:#f5f3c6;
   border-radius:21px;
   margin-top:20px;
   margin-left:18px;
}
.head3 img{
      margin-top:16px;
      margin-left:15px;
}
.home{
   margin:21px 0px 0px 129px;
   color:#939393;
   font-size:12px;
}
.slide1{
  border:1px solid grey;
  box-sizing:border-box;
}
}