*{
margin:0;
padding:0;
}
.head{
  border-top:3px solid black;
  border-bottom:1px solid gray;
  padding-bottom:5px;
 z-index:1;
}
.head1{
  color:#2c4152;
  font-size: 14px;
  text-transform: capitalize;
  margin-left:900px;
  margin-top:9px;
 }
.div1{
   margin:5px;
  color:#2c4152;
  font-size: 14px;
  text-transform: capitalize;
}
.div2{
    background-color:black;
    color:white;
   padding:12px;
    font-size:x-small;
    font-weight:normal;
}
.Ajio  img{
   width:170px;
}
.Ajio1{
   display:flex;
  margin-left:313px;
  margin-top:27px;
font-weight:lighter;
color:grey;
}
 .Ajio1 p{
   padding-right:7px;
}
.Ajio1 :hover{
  color:black;
  font-weight:bold;
 font-size:15px;
  
}
.Ajio2 input{
    width:204px;
    margin-top:8px;
    margin-left:15px;
    border:transparent;
   background-color:#f5f3c6;
}
.Ajio2{
   border:1px solid black;
   background-color:#f5f3c6;
   border-radius:21px;
   margin-top:20px;
   margin-left:18px;
}
.head3 img{
      margin-top:16px;
      margin-left:15px;
}
.home{
   margin:21px 0px 0px 129px;
   color:#939393;
   font-size:12px;
}
.sideBar{
  display:flex;
  }
.slide1{
  width:30px;
  margin:30px 0px 0px 109px;
 }
.slide1 img{
   max-width:47px;
}
.img1{
   width:15px;
   margin-left:14px;
}
.mainimage1{
  margin:29px 0px 0px 91px;
  width:781px;
 
}
.img2{
   width:20px;
  margin:16px 0px 182px 0px;
}
 .img3{
  width:395px;
}
.returns{
    border:1px solid grey;
}
.content2{
 margin:27px 0px 0px 269px;
}
.p1{
 width:230px;
}
.p2{
 margin-left:61px;
}
.p4{
margin:6px 0px 0px 75px;
}
.p5{
 margin-left:13px;
}
.p6{
 margin-left:8px;
}
.hr-lines:before{
  content:" ";
  display: block;
  height: 2px;
  width: 444px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #e5e3e3;
  margin:0px 185px 1px -252px;
}
.hr-lines:after{
  content:" ";
  height: 2px;
  width: 296px;
  background-color:#e5e3e3;
  display: block;
  position: absolute;
  top: 57%;
  right: 0;
 margin:0px -132px 0px 807px;
}

.hr-lines{
  position: relative;
 max-width: 573px;
  margin: 36px 27px 9px 318px;
  text-align: center;
}
.hr-line1:before{
  content:" ";
  display: block;
  height: 2px;
  width: 444px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #e5e3e3;
  margin:0px 185px 1px -252px;
}
.hr-line1:after{
  content:" ";
  height: 2px;
  width: 296px;
  background-color:#e5e3e3;
  display: block;
  position: absolute;
  top: 57%;
  right: 0;
 margin:0px -132px 0px 807px;
}

.hr-line1{
  position: relative;
 max-width: 573px;
  margin: 36px 27px 9px 318px;
  text-align: center;
}
.Buttons{
 display:flex;
}

.div11 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 291px;
  height: 70px;
  border: 1px solid whitesmoke;
  box-sizing: border-box;
  text-align:center;
  background-color:#f8f8f8;
  color:#176d93;
  padding:25px 2px;
  margin:5px;
  cursor:pointer;
  margin:0px 0px 0px 64px;
}
.img4{
  width:20px;
}
.img5{
 width:29px;
    margin: 2px 0px 113px 53px;
}
.img6{
  width:204px;
}
.img7{
  width:203px;
  margin-left:36px;
}
 .div4 img{
    margin:9px 220px 1px 78px;
   background-color: #ffffff;
}
.footer {
  text-transform: uppercase;
  background-color: rgb(44, 65, 82);
  box-sizing: border-box;
  padding: 70px 70px;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  border-top: gray;
  text-align: justify;
  
}
.hr-line:before{
  content:" ";
  display: block;
  height: 2px;
  width: 444px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #e5e3e3;
  margin:0px 185px 1px -252px;
}
.hr-line:after{
  content:" ";
  height: 2px;
  width: 296px;
  background-color:#e5e3e3;
  display: block;
  position: absolute;
  top: 57%;
  right: 0;
 margin:0px -132px 0px 807px;
}

.hr-line{
  position: relative;
  max-width: 573px;
  margin: 36px 27px 9px 318px;
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
    width: 20%;
    padding: 0 30px;
}

.footer-col h4 {
    font-size: 13px;
    color: rgb(255,255,255);
    margin-bottom: 35px;
    font-weight: bolder;
    position: relative;
    margin-left: 38px;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

ul {
    list-style-type: none;
}

.footer-col ul li a {
    font-size: 11px;
    text-decoration: none;
    font-weight: 300;
    color: rgb(255,255,255);
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    padding-left: 8px;
}
.social-links {
  display: flex;
  gap: 20px;
}

#first-right {
  height: 100%;
  width: 25%;
  /* font-size: 11px; */
  color: rgb(104, 101, 101);
}

.right {
  display: flex;
  justify-content: space-between;
  margin: auto;
  text-align: left;
}

.right>p {
  font-family: HCoGothamSSmLight, Arial, Sans-Serif;
  font-size: 1rem;
  font-weight: 600;
  border-left: 1px solid gray;
  padding-left: 10px;
  color: gray;
}

#bottom-footer{
  height: 140px;
  width: 100%;
  background-color: rgb(44, 65, 82);
  justify-content: space-between;
  display: flex;
  }
#main{
  /* font-size: 14px; */
  width: 40%;
  margin-left: 110px;
  margin-top: 30px;
  color: rgb(255,255,255);
  }
#btm-left{
  font-size: 14px;
  margin: auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
#btm-right{
  margin-top: 32px;
  color: rgb(255,255,255);
  margin-right: 110px;
}
#f-btns{
  display: grid;
  text-align: center;
  margin-top: 18px;
  height: 110px;
  width: 55px;
  margin-right: 45px;
  grid-gap: 5px;

}
#foot-btn{
  background-color: #ffffff;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  cursor: pointer;
}
#foot-btn1{
  background-color: #ffffff;
  font-size: 35px;
  height: 44px;
  width: 44px;
  border-radius: 50px;
  cursor: pointer;
  }